html,
body {
    height: 100%;
}

h1 {
  font-weight: 100;
  color: rgb(90,90,90);
  font-family: 'Anton', sans-serif;
  font-size: 44px;
  margin: 20px auto;
}

h2 {
  font-weight: 900px;
  color: rgb(90,90,90);
  font-style: bold;
}
body {
  background-size: cover;

  background-image: linear-gradient(#114357, #F29492);
  color: #19323C;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;

}

p {
  font-family: 'Crimson Pro', serif;
  font-size: 20px;
  color: rgb(90,90,90);
}

a {
  font-size: 18px;
  text-decoration: none;
  font-weight: 800;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.box {
  background-color: rgba(255,255,255, 0.86);
  text-align: center;
  border-radius: 36px;
  padding: 16px 92px 32px 92px;
  margin-top: 36px;
  box-shadow: 0px 0px 10px;
}

.green-button {
  background-color: #81BD54;
  padding: 12px 24px;
  border-radius: 4px;
}

.green-button:hover {
  background-color: #9fe66a;
  color: white;
}

.icon-list {
  list-style: none;
  padding-left: 0px;
  display: inline-block;
  margin: 0 auto;
}

.icon-list > li {
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 48px;
}

.header-image {
  margin: 0 auto;
  text-align: center;
  padding-top: 44px;
}
.blue-icon {
  color: #3c7191;
  font-size: 48px;

}

.blue-icon:hover {
  color: #C5D1E0;
}

#nicolas_image {
  object-fit: cover;
  height: 128px;
  width: 128px;
  border-radius: 1000px;
  box-shadow: 0px 0px 10px;

}


@media (min-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 900px;
    margin: 0 auto;
  }
  .green-button {
    width: 300px;
    margin: 0 auto;
  }
}
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
    margin: 0 auto;
  }
  .green-button {
    width: 300px;
    margin: 0 auto;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
    margin: 0 auto;
  }
  .green-button {
    width: 300px;
    margin: 0 auto;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 400px;
    margin: 0 auto;
  }
  .green-button {
    width: 172px;
    margin: 0 auto;
  }
}
